@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.heading{
  text-align: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
}
.container{
  width: 100%;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
input{
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
}
.middle,.right{
  width: 120px;
}
.switch{
  padding: 5px;
  margin: 58px 10px 0;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}
.result{
  margin-top: 25px;
  box-sizing: border-box;
  text-align: center;
}

button{
  width: 100px;
  height: 30px;
  font-weight: bold;
  font-size: 20px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
}
p,h3, button, .switch{
  text-align: center;
  color: forestgreen;
}

p{
  font-size: 30px;
}